.u-text--centered {
  text-align: center;
}

.u-bg--black {
  background-color: $black !important;

  .slide-header {
    border-color: $white !important;
  }
}

.margin--small {
	margin: 0.5rem 0 !important;

	&.h2 {
		line-height: 1.1;
	}
}

.float-left {
	float: left;
}
